<ion-view view-title="Student View" class="student">

  <ion-view title="Example" class="slide-left-right">
    <ion-content padding="true">
      <h1>{{team.icon}}</h1>
    </ion-content>
  </ion-view>
  <div class="bottom-content">

    <div class="list">

      <div class="button-bar">
        <ion-radio class="col" ng-repeat="team in teams" ng-value="team.name" ng-model="data.violator" icon="ion-asterisk">
          {{ team.name }}
        </ion-radio>
      </div>


    </div>



  </div>

  <button class="button button-balanced">
    button-balanced
  </button>

</ion-view>
