<ion-view title="Statistic" class="stat">
  <ion-content>

    <div class="card">
      <h1 ng-if="!data.question">Waiting for statistics!</h1>
      <h1 ng-if="data.question">{{data.question}}</h1>
    </div>
		<h1 style="text-center">Time Left</h1>
		<h1 ng-bind="counter" style="text-center"></h1>
  </ion-content>

  <div class="bottom-content">
    <div class="list">
      <div class="row">

        <div class="button-bar">
          <div class="answer col col-50" ng-if="$index < 2" ng-repeat="ans in data.answers">
              {{ ans }} : {{((data.scores[$index] / data.count) * 100)||0}}%
          </div>
        </div>
      </div>

      <div class="row">
        <div class="button-bar">

          <div class="answer col col-50" ng-if="$index >= 2" ng-repeat="ans in data.answers">
            {{ ans }} : {{((data.scores[$index] / data.count) * 100)||0}}%
          </div>
        </div>

      </div>
    </div>
  </div>

</ion-view>
